<!DOCTYPE html>
<html>

<head>
    <title>Decrypted Site</title>
</head>

<body>

    <div id="content">
        <!-- Decrypted content will go here -->
    </div>

    <script type="text/javascript">
        function displayFailureMessage() {
            const urls = [
                "https://agaricus.xyz/gifs/anime-stop-thats-illegal.gif",
                "https://agaricus.xyz/gifs/anya-forger-no-oomfie.gif",
                "https://agaricus.xyz/gifs/smug-anime.gif",
            ];
            const randomIndex = Math.floor(Math.random() * urls.length);
            const chosenUrl = urls[randomIndex];

            const contentDiv = document.getElementById('content');
            contentDiv.innerHTML = `
                <div style="text-align: center;">
                    <h1 style="font-size: 4em; color: pink; font-family: 'Courier New', Courier, monospace;">NOT ALLOWED</h1>
                    <img src="${chosenUrl}" alt="Meme">
                </div>`;
        }

        function displayKeyForm() {
            const contentDiv = document.getElementById('content');

            contentDiv.innerHTML = `
                <div style="text-align: center; margin: 2em; font-size: 1.5em;">
                    <p>If you have a key for this URL, enter it below:</p>
                    <form id="keyForm">
                        <input type="text" id="keyInput" placeholder="Enter your key here">
                        <input type="submit" value="Submit">
                    </form>
                    <p>If you don't have a key, this page was not intended for you.</p>
                </div>
            `;

            document.getElementById('keyForm').addEventListener('submit', function (e) {
                e.preventDefault();
                const key = document.getElementById('keyInput').value;
                decryptContent(key);
            });
        }

        // Allow the user to just input the key into a hashtag (url.com#foo, foo is the hashtag) 
        // in the URL 
        window.addEventListener('DOMContentLoaded', (event) => {
            let hashKey = window.location.hash.substring(1);  // Remove the '#'
            if (hashKey) {
                decryptContent(hashKey);
            }
        });
        
        // Change the page whenever the hash changes
        window.addEventListener('hashchange', function() {
            let hashKey = window.location.hash.substring(1); // Remove the '#'
            if (hashKey) {
                decryptContent(hashKey);
            }
        });

        // Our Rust program creates URL-safe base64 with no padding for simplicity  
        // This will convert it back too standard base64 so we can use atob to convert 
        // it to bytes 
        function urlSafeToBase64(urlSafeBase64) {
            let base64 = urlSafeBase64.replace(/-/g, '+').replace(/_/g, '/');
            let padding = base64.length % 4;
            if (padding) {
                base64 += '='.repeat(4 - padding);
            }
            return base64;
        }

        function decryptContent(passphrase) {
            try {
                const encryptedHTMLBuffer = Uint8Array.from(atob(urlSafeToBase64(encryptedHTML)), c => c.charCodeAt(0));
                const iv = Uint8Array.from(atob(urlSafeToBase64(b64iv)), c => c.charCodeAt(0));
                const keyBuffer = Uint8Array.from(atob(urlSafeToBase64(passphrase)), c => c.charCodeAt(0));

                window.crypto.subtle.importKey(
                    "raw",
                    keyBuffer,
                    "AES-GCM",
                    false,
                    ["decrypt"]
                ).then(function (key) {
                    return window.crypto.subtle.decrypt(
                        { name: "AES-GCM", iv: iv },
                        key,
                        encryptedHTMLBuffer
                    );
                }).then(function (decryptedArrayBuffer) {
                    const decryptedHTML = new TextDecoder().decode(decryptedArrayBuffer);
                    document.getElementById('content').innerHTML = decryptedHTML;
                }).catch(function (e) {
                    displayFailureMessage();
                });
            } catch (e) {
                displayFailureMessage();
            }
        }

        // Placeholders to be replaced by the Rust program
        const encryptedHTML = "---PLACEHOLDER-DATA---";
        const b64iv = "---PLACEHOLDER-IV---";
        displayKeyForm();
    </script>

</body>

</html>